<div class="web-title">Select</div>
<div class="card">
  <div class="waw-select">
    <input class="selectSwitch" type="checkbox" name="sdfsdf" id="123">
    <div class="waw-select__header">

      <label for="123">Select</label>
      <!-- <label for=""></label> -->
    </div>

    <div class="waw-select__body">
      <div class="waw-select--item">First</div>
      <div class="waw-select--item">Second</div>
      <div class="waw-select--item">Third</div>
      <div class="waw-select--item">Fourth</div>
      <div class="waw-select--item">Fifth</div>

    </div>
  </div>
</div>
