<!-- <div class="web-title mb10">Collapse</div>
<div class="waw-collapse card">
  <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <span>Languages Used</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nam optio consectetur, quidem eveniet repellat beatae saepe quia doloremque, itaque ipsum, rerum aut? Ut voluptate consequuntur porro aspernatur aliquam, molestiae impedit ab
        sed dolorum, dignissimos molestias magni quod. Debitis rerum libero ipsa dignissimos dolor labore expedita et voluptates doloribus! Iusto quas, dolores consequuntur earum possimus similique eaque laborum, hic eum nulla tempora quis
        doloremque nemo nam! Suscipit consequuntur, tempora a iure quae, tenetur sapiente eligendi. Nulla quidem sit laudantium, tempore debitis optio! Placeat possimus temporibus eius debitis impedit vitae, aut deleniti ullam tenetur corporis
        doloremque repudiandae ipsa, fugit facilis praesentium.</p>
    </li>

  </ul>
</div> -->

<div class="card">
  <div class="waw-collapse">
    <input id="toggle4" type="checkbox" checked>
    <label for="toggle4">123</label>
    <div id="expand">
      <section class="home">
        123
      </section>
    </div>
  </div>

</div>
