<script src="waw.js"></script>
<!-- navigation -->
<app-waw-nav></app-waw-nav>

<!-- web container main -->
<!-- <div class="web-container"> -->
	<!-- colors block -->
	<!-- <app-waw-test></app-waw-test> -->

	<!-- Checkbox and Radio -->
	<!-- <div class="web-title">
		Checkbox & Radio
	</div>
	<div class="card">
		<div class="web-checkbox-item">
			<app-waw-radio></app-waw-radio>
			<app-waw-checkbox></app-waw-checkbox>
			<app-waw-switch></app-waw-switch>
		</div>
	</div> -->

	<!-- form fields -->
	<!-- <div class="web-title">
		Form Group
	</div> -->
	<!-- <div class="card web-form">
		<app-waw-input></app-waw-input>
		<app-waw-textarea></app-waw-textarea>
		<app-waw-range></app-waw-range>
	</div>
 -->
	<!-- <app-waw-btn></app-waw-btn>
	<app-waw-select></app-waw-select>
	<app-waw-modal></app-waw-modal>
	<app-waw-card></app-waw-card>
	<app-waw-collapse></app-waw-collapse>
	<app-waw-alert></app-waw-alert>
	<app-waw-badge></app-waw-badge>
	<app-waw-popup></app-waw-popup>
	<app-waw-progress></app-waw-progress>
	<app-waw-spinner></app-waw-spinner>
	<app-waw-tooltip></app-waw-tooltip>
	<app-waw-mat-menu></app-waw-mat-menu>
	<app-waw-chips></app-waw-chips>
	<app-waw-list></app-waw-list>
	<app-waw-tab></app-waw-tab> -->


<!-- </div> -->
<app-doc></app-doc>

<router-outlet></router-outlet>
