<!-- navigation -->
<nav class="waw-nav">
	<input type="checkbox" id="check">
	<label class="waw-nav__logo"><a href="#" >WAW</a></label>
	<label for="check" class="waw-nav__checkbtn">
		<i class="fas fa-bars"></i>
	</label>

	<ul>
		<li><a class="active" href="#"><label for="menu">Menu</label></a></li>
		<li><a href="#">Home</a></li>
		<li><a href="#">Get started</a></li>
		<li><a href="#">Documentation</a></li>
		<li><a href="#">Download</a></li>
	</ul>
</nav>

<input class="leftMenu__input" type="checkbox" id="menu">
<div class="leftMenu leftMenu__active">
	<ul>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
	</ul>
</div>
