<div class="web-title">
  Buttons
</div>
<div class="card">
  <div>
    <p class="web-title">.waw-btn</p>
  </div>
  <div>
    <button class="mr10 mb10 waw-btn _circle">_circle</button>
    <button class="mr10 mb10 waw-btn _primary">_primary</button>
    <button class="mr10 mb10 waw-btn _success">_success</button>
    <button class="mr10 mb10 waw-btn _danger">_danger</button>
    <button class="mr10 mb10 waw-btn _warning">_warning</button>
    <button class="mr10 mb10 waw-btn _info">_info</button>
    <button class="mr10 mb10 waw-btn _light">_light</button>
    <button class="mr10 mb10 waw-btn _dark">_dark</button>
    <button class="mr10 mb10 waw-btn _link">_link</button>
    <button class="mr10 mb10 waw-btn _disabled">_disabled</button>
  </div>
</div>
