<div class="web-title">Alerts</div>
<div class="card">
  <div class="waw-alert _primary">A simple primary alert—check it out!</div>
  <div class="waw-alert _second">A simple secondary alert—check it out!</div>
  <div class="waw-alert _success">A simple success alert—check it out!</div>
  <div class="waw-alert _danger">A simple danger alert—check it out!</div>
  <div class="waw-alert _warning">A simple warning alert—check it out!</div>
  <div class="waw-alert _info">A simple info alert—check it out!</div>
  <div class="waw-alert _dark">A simple dark alert—check it out!</div>
</div>
