$yellow: #E5E55C;
$lemon: #F4F4B4;
$coral: #FFADAD;
$blue: #2E4F7C;
$sky: #A3D0F1;
$green: #5AE00A;

$black: #000;
$grey: #C4C4C4;
$dark: #040514;



$ff-base: 'Dosis', sans-serif;
$ff-second: 'Josefin Sans', sans-serif;

// webkitUI lord1k

$darkblue:#35449D;
$blue:#3E50B4;
$darkgray: #4A4A4A;
$gray:#F4F3F3;
$white:#FFFFFF;
$pink: #FF4081;


// --var
$c-primary-1:#F44336;
$c-primary-2:#1E88E5;
$c-primary-3:#FDD835;

$c-border: #CDD9ED;
$c-border-hover: #99A3BA;
$c-text: #6C7486;
$c-text-head: #3F4656;
