 <div class="web-title">Input</div>
<div class="waw-input my10">
  <input type="text" required>
  <span class="bar"></span>
  <label>Name</label>
</div>
<div class="waw-input my10">
  <input type="text" required>
  <span class="bar"></span>
  <label>Name</label>
</div>
<div class="waw-input my10">
  <input type="text" required>
  <span class="bar"></span>
  <label>Name</label>
</div>

 <div class="web-title">Old Input</div>
<div class="waw-inputOld my10">
  <input type="text" placeholder="Name" required>
  <span class="bar"></span>
</div>
