// TEXTAREA
.waw-textarea {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 41px;
    height: 40px;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $c-primary-2;
    outline: 0;
    font-size: 16px;
    color: $c-text;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    &._mh150 {
      max-height: 150px;
    }
  }

  textarea::placeholder {
    color: transparent;
  }

  textarea:placeholder-shown ~ .waw__label {
    font-size: 16px;
    cursor: text;
    top: 20px;
  }

  label,
  textarea:focus ~ .waw__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: $c-primary-2;
  }

  textarea:focus ~ .waw__label {
    color: $c-primary-2;
  }

  textarea:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid $c-primary-2;
  }
}
