<div class="web-title">Colors</div>
<div class="card color-wrap">
  <div class="color">
    <div class="color-prim-1"></div>
    <div class="color-info">
      <div class="color-class">$c-primary-1</div>
      <div class="color-hex">#F44336</div>
    </div>
  </div>
  <div class="color">
    <div class="color-prim-2"></div>
    <div class="color-info">
      <div class="color-class">$c-primary-2</div>
      <div class="color-hex">#1E88E5</div>
    </div>
  </div>
  <div class="color">
    <div class="color-prim-3"></div>
    <div class="color-info">
      <div class="color-class">$c-primary-3</div>
      <div class="color-hex">#FDD835</div>
    </div>
  </div>
</div>
